/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    background:linear-gradient(0.30turn,#f7f305, #d5dbce, #483ece );
}
.btn-dark {
    background-color: #000;
    color: #fff;
    padding: 10px;
}